[Desktop Entry]
Name=台灣藥品
GenericName=台灣藥品
Exec=twdi/twdi --no-sandbox
Icon=${SNAP}/meta/gui/icon.png
Type=Application
Terminal=false
Categories=None;
StartupWMClass=twdi
